In [1]:
"""

"""
import requests
import json
import pandas as pd
import pyodbc
from urllib.parse import quote_plus
from sqlalchemy import create_engine
from sqlalchemy.orm.session import sessionmaker

conn_string = 'DRIVER={ODBC Driver 17 for SQL Server};SERVER=192.168.189.71;DATABASE=Dokuchaev;UID=sa;PWD=As12345^'
quoted = quote_plus(conn_string)
new_conn_string = 'mssql+pyodbc:///?odbc_connect={}'.format(quoted)
engine = create_engine(new_conn_string)

In [2]:
stores = pd.read_sql('SELECT * FROM dwh_bel.stores_mapping', engine)

In [3]:
%%time
pay = pd.read_sql('SELECT * FROM dwh_bel.sales_order_pay', engine)

Wall time: 6min 22s

In [4]:
%%time
base = pd.read_sql('SELECT * FROM dwh_bel.sales_order_base', engine)

Wall time: 1min 49s

In [5]:
stores

                          iiko_store_id             full_name
0  a059c71e-73b8-423c-86f4-9d9772710307        Склад Дом Быта
1  60e07eba-b788-417d-9006-efdfc4d6c65a  Склад Каменная горка
2  195dec56-5f26-4c6e-a60f-38715fd03fc8       Склад Немига 12
3  402e8498-1d17-429c-bc41-f1409f7b8bed    Склад Партизанский
4  6fd24181-7a49-49a4-8201-28d2eb644cc6        Склад Уманская
5  f873fa85-38c1-4714-bb4e-79fb7db1c5f4     Склад Хмельницкая

In [6]:
stores = stores[['iiko_store_id','full_name']]

In [7]:
stores = stores.set_index('iiko_store_id')
stores.index.name = None
stores

                                                 full_name
a059c71e-73b8-423c-86f4-9d9772710307        Склад Дом Быта
60e07eba-b788-417d-9006-efdfc4d6c65a  Склад Каменная горка
195dec56-5f26-4c6e-a60f-38715fd03fc8       Склад Немига 12
402e8498-1d17-429c-bc41-f1409f7b8bed    Склад Партизанский
6fd24181-7a49-49a4-8201-28d2eb644cc6        Склад Уманская
f873fa85-38c1-4714-bb4e-79fb7db1c5f4     Склад Хмельницкая

In [8]:
pay = pay[['UniqOrderId.Id','VAT.Sum', 'DiscountSum']]
pay = pay.set_index('UniqOrderId.Id')
pay.index.name = None
pay

                                      VAT.Sum  DiscountSum
00000d08-e72f-425d-aaf3-949de1287c62      0.0          0.0
00001d3b-0cce-4e81-9dde-b235099efaf8      0.0          0.0
00005b21-3e90-4365-aaf1-95255ff8520e      0.0          0.0
0000cfc0-e966-4653-91cd-6f6990b49cbe      0.0          0.0
0000f482-c9c5-450d-8d23-52fcede19a1d      0.0          0.0
...                                       ...          ...
fffe7582-ac84-4917-accc-9b23d49abd92      0.0          0.0
ffff0caa-007c-42dc-ba2f-bcac6606f399      0.0          0.0
ffff3123-bf20-42ab-ae11-1889e1a660a6      0.0          0.0
ffffb859-1af4-46fb-a6ba-a9784f89284a      0.0          0.0
ffffd1c5-e976-47fa-b340-7432baa67f88      0.0          0.0

[356596 rows x 2 columns]

In [9]:
base

,chain_code,UniqOrderId.Id,OpenDate.Typed,OpenTime,CloseTime,OrderDeleted,OrderItems,fullSum,Storned,Store.Id,Department.Id
0,5,00000d08-e72f-425d-aaf3-949de1287c62,2020-01-19,2020-01-19 12:22:42,2020-01-19 12:23:12.335,NOT_DELETED,2,4.0,FALSE,60e07eba-b788-417d-9006-efdfc4d6c65a,79f41eaf-57b7-4721-babd-b58c5f0176b1
1,5,00001d3b-0cce-4e81-9dde-b235099efaf8,2020-05-21,2020-05-21 15:06:52,2020-05-21 15:07:39.648,NOT_DELETED,1,2.5,FALSE,402e8498-1d17-429c-bc41-f1409f7b8bed,497f5ea2-82c9-4cb2-b6f8-039e6e1f1627
2,5,00005b21-3e90-4365-aaf1-95255ff8520e,2020-01-22,2020-01-22 10:10:36,2020-01-22 10:11:51.188,NOT_DELETED,2,5.5,FALSE,402e8498-1d17-429c-bc41-f1409f7b8bed,497f5ea2-82c9-4cb2-b6f8-039e6e1f1627
3,5,0000cfc0-e966-4653-91cd-6f6990b49cbe,2020-06-02,2020-06-02 13:04:04,2020-06-02 13:04:20.307,NOT_DELETED,1,1.5,FALSE,402e8498-1d17-429c-bc41-f1409f7b8bed,497f5ea2-82c9-4cb2-b6f8-039e6e1f1627
4,5,0000f482-c9c5-450d-8d23-52fcede19a1d,2020-03-09,2020-03-09 12:48:01,2020-03-09 12:48:22.781,NOT_DELETED,1,2.5,FALSE,a059c71e-73b8-423c-86f4-9d9772710307,3a9caa40-0754-41f8-add4-ec9a1104e928
...,...,...,...,...,...,...,...,...,...,...,...
356593,5,fffe7582-ac84-4917-accc-9b23d49abd92,2020-02-11,2020-02-11 16:52:23,2020-02-11 16:53:29.635,NOT_DELETED,2,4.0,FALSE,a059c71e-73b8-423c-86f4-9d9772710307,3a9caa40-0754-41f8-add4-ec9a1104e928
356594,5,ffff0caa-007c-42dc-ba2f-bcac6606f399,2020-04-15,2020-04-15 09:57:36,2020-04-15 09:57:43.580,NOT_DELETED,1,2.5,FALSE,402e8498-1d17-429c-bc41-f1409f7b8bed,497f5ea2-82c9-4cb2-b6f8-039e6e1f1627
356595,5,ffff3123-bf20-42ab-ae11-1889e1a660a6,2020-03-05,2020-03-05 11:48:21,2020-03-05 11:48:31.767,NOT_DELETED,1,2.5,FALSE,60e07eba-b788-417d-9006-efdfc4d6c65a,79f41eaf-57b7-4721-babd-b58c5f0176b1
356596,5,ffffb859-1af4-46fb-a6ba-a9784f89284a,2020-03-01,2020-03-01 10:11:01,2020-03-01 10:12:18.126,NOT_DELETED,5,6.5,FALSE,402e8498-1d17-429c-bc41-f1409f7b8bed,497f5ea2-82c9-4cb2-b6f8-039e6e1f1627
356597,5,ffffd1c5-e976-47fa-b340-7432baa67f88,2020-01-19,2020-01-19 09:29:02,2020-01-19 09:29:43.158,NOT_DELETED,4,4.5,FALSE,60e07eba-b788-417d-9006-efdfc4d6c65a,79f41eaf-57b7-4721-babd-b58c5f0176b1

In [10]:
base = base[['UniqOrderId.Id', 'OpenDate.Typed', 'OrderDeleted', 'fullSum', 'Storned', 'Store.Id']]

In [11]:
base = base.loc[(base.Storned == 'FALSE') & (base.OrderDeleted == 'NOT_DELETED')]
base = base[['UniqOrderId.Id', 'OpenDate.Typed', 'fullSum', 'Store.Id']]
base = base.set_index('UniqOrderId.Id')
base.index.name = None
base

,OpenDate.Typed,fullSum,Store.Id
00000d08-e72f-425d-aaf3-949de1287c62,2020-01-19,4.0,60e07eba-b788-417d-9006-efdfc4d6c65a
00001d3b-0cce-4e81-9dde-b235099efaf8,2020-05-21,2.5,402e8498-1d17-429c-bc41-f1409f7b8bed
00005b21-3e90-4365-aaf1-95255ff8520e,2020-01-22,5.5,402e8498-1d17-429c-bc41-f1409f7b8bed
0000cfc0-e966-4653-91cd-6f6990b49cbe,2020-06-02,1.5,402e8498-1d17-429c-bc41-f1409f7b8bed
0000f482-c9c5-450d-8d23-52fcede19a1d,2020-03-09,2.5,a059c71e-73b8-423c-86f4-9d9772710307
...,...,...,...
fffe7582-ac84-4917-accc-9b23d49abd92,2020-02-11,4.0,a059c71e-73b8-423c-86f4-9d9772710307
ffff0caa-007c-42dc-ba2f-bcac6606f399,2020-04-15,2.5,402e8498-1d17-429c-bc41-f1409f7b8bed
ffff3123-bf20-42ab-ae11-1889e1a660a6,2020-03-05,2.5,60e07eba-b788-417d-9006-efdfc4d6c65a
ffffb859-1af4-46fb-a6ba-a9784f89284a,2020-03-01,6.5,402e8498-1d17-429c-bc41-f1409f7b8bed
ffffd1c5-e976-47fa-b340-7432baa67f88,2020-01-19,4.5,60e07eba-b788-417d-9006-efdfc4d6c65a

In [12]:
base = base.join(pay).join(stores, on='Store.Id')

In [13]:
base = base.drop(columns=['Store.Id', 'VAT.Sum'])[['full_name', 'OpenDate.Typed', 'fullSum', 'DiscountSum']]

In [14]:
base

,full_name,OpenDate.Typed,fullSum,DiscountSum
00000d08-e72f-425d-aaf3-949de1287c62,Склад Каменная горка,2020-01-19,4.0,0.0
00001d3b-0cce-4e81-9dde-b235099efaf8,Склад Партизанский,2020-05-21,2.5,0.0
00005b21-3e90-4365-aaf1-95255ff8520e,Склад Партизанский,2020-01-22,5.5,0.0
0000cfc0-e966-4653-91cd-6f6990b49cbe,Склад Партизанский,2020-06-02,1.5,0.0
0000f482-c9c5-450d-8d23-52fcede19a1d,Склад Дом Быта,2020-03-09,2.5,0.0
...,...,...,...,...
fffe7582-ac84-4917-accc-9b23d49abd92,Склад Дом Быта,2020-02-11,4.0,0.0
ffff0caa-007c-42dc-ba2f-bcac6606f399,Склад Партизанский,2020-04-15,2.5,0.0
ffff3123-bf20-42ab-ae11-1889e1a660a6,Склад Каменная горка,2020-03-05,2.5,0.0
ffffb859-1af4-46fb-a6ba-a9784f89284a,Склад Партизанский,2020-03-01,6.5,0.0
ffffd1c5-e976-47fa-b340-7432baa67f88,Склад Каменная горка,2020-01-19,4.5,0.0

In [15]:
base['OpenDate.Typed'] = pd.to_datetime(base['OpenDate.Typed'], format='%Y-%m-%d')

In [16]:
base['year'] = base['OpenDate.Typed'].dt.year
base['month'] = base['OpenDate.Typed'].dt.month
base['day'] = base['OpenDate.Typed'].dt.day

In [17]:
base = base[['full_name', 'year', 'month', 'day', 'fullSum', 'DiscountSum']]
base

,full_name,year,month,day,fullSum,DiscountSum
00000d08-e72f-425d-aaf3-949de1287c62,Склад Каменная горка,2020,1,19,4.0,0.0
00001d3b-0cce-4e81-9dde-b235099efaf8,Склад Партизанский,2020,5,21,2.5,0.0
00005b21-3e90-4365-aaf1-95255ff8520e,Склад Партизанский,2020,1,22,5.5,0.0
0000cfc0-e966-4653-91cd-6f6990b49cbe,Склад Партизанский,2020,6,2,1.5,0.0
0000f482-c9c5-450d-8d23-52fcede19a1d,Склад Дом Быта,2020,3,9,2.5,0.0
...,...,...,...,...,...,...
fffe7582-ac84-4917-accc-9b23d49abd92,Склад Дом Быта,2020,2,11,4.0,0.0
ffff0caa-007c-42dc-ba2f-bcac6606f399,Склад Партизанский,2020,4,15,2.5,0.0
ffff3123-bf20-42ab-ae11-1889e1a660a6,Склад Каменная горка,2020,3,5,2.5,0.0
ffffb859-1af4-46fb-a6ba-a9784f89284a,Склад Партизанский,2020,3,1,6.5,0.0
ffffd1c5-e976-47fa-b340-7432baa67f88,Склад Каменная горка,2020,1,19,4.5,0.0

In [18]:
orders = base.groupby(by=['full_name', 'year', 'month'], as_index= False).count()[['fullSum']].rename(columns={'fullSum': 'orders'})
pivot = base.groupby(by=['full_name', 'year', 'month'], as_index= False).sum().join(orders)

In [19]:
pivot = pivot[['full_name', 'year', 'month', 'orders', 'fullSum', 'DiscountSum']].copy()
pivot.columns = ['name', 'year', 'month', 'orders', 'sales', 'discount']
pivot['sales'] = pivot.sales - pivot.discount

In [20]:
pivot

                    name  year  month  orders     sales  discount
0         Склад Дом Быта  2019     10    3192   9790.50    306.50
1         Склад Дом Быта  2019     11    7214  21713.50    801.50
2         Склад Дом Быта  2019     12    7218  21864.13    290.37
3         Склад Дом Быта  2020      1    6165  18246.46    759.04
4         Склад Дом Быта  2020      2    6928  20603.63    624.37
5         Склад Дом Быта  2020      3    8226  24019.93    856.57
6         Склад Дом Быта  2020      4    3746  10890.81    710.69
7         Склад Дом Быта  2020      5    3758  11220.10    449.90
8         Склад Дом Быта  2020      6    4895  14646.89    470.61
9         Склад Дом Быта  2020      7    5640  16664.40    403.60
10        Склад Дом Быта  2020      8    5605  16993.51    365.49
11        Склад Дом Быта  2020      9     707   2160.70     35.80
12  Склад Каменная горка  2019     10    2289   6205.00      0.00
13  Склад Каменная горка  2019     11    9030  23883.00    139.00
14  Склад Каменная горка  2019     12   10881  27985.88    363.12
15  Склад Каменная горка  2020      1   11007  28062.31    868.19
16  Склад Каменная горка  2020      2   13013  32942.13    891.87
17  Склад Каменная горка  2020      3   14550  37320.31   1246.19
18  Склад Каменная горка  2020      4   10525  26982.13   1001.37
19  Склад Каменная горка  2020      5   11785  30727.56    773.44
20  Склад Каменная горка  2020      6   11597  30315.33    734.17
21  Склад Каменная горка  2020      7   14180  37079.04   1006.46
22  Склад Каменная горка  2020      8   14506  38624.84    719.16
23  Склад Каменная горка  2020      9     931   2354.93     28.07
24       Склад Немига 12  2020      2    3486   9745.92   1199.08
25       Склад Немига 12  2020      3    5162  14543.35    577.15
26       Склад Немига 12  2020      4    3907  11202.73    468.27
27       Склад Немига 12  2020      5    4966  14094.53    380.47
28       Склад Немига 12  2020      6    5191  14597.98    325.52
29       Склад Немига 12  2020      7    6476  18469.06    332.44
30       Склад Немига 12  2020      8    6340  18448.09    352.91
31       Склад Немига 12  2020      9     411   1172.50     14.50
32    Склад Партизанский  2019     10      41    127.50      0.00
33    Склад Партизанский  2019     11    9864  29453.50    660.00
34    Склад Партизанский  2019     12   10632  31238.82    610.18
35    Склад Партизанский  2020      1   10220  29567.29   1186.71
36    Склад Партизанский  2020      2   10381  29998.91   1068.09
37    Склад Партизанский  2020      3   11634  33299.03   1464.47
38    Склад Партизанский  2020      4    7977  22724.59   1477.91
39    Склад Партизанский  2020      5    8970  26838.93    740.07
40    Склад Партизанский  2020      6    9023  26888.79    654.21
41    Склад Партизанский  2020      7   10110  30835.19    580.31
42    Склад Партизанский  2020      8   11132  34428.64    758.36
43    Склад Партизанский  2020      9     800   2386.70     27.80
44        Склад Уманская  2020      7     134    370.02     52.98
45        Склад Уманская  2020      8    5294  14998.95   1167.05
46        Склад Уманская  2020      9     314    853.26     13.74
47     Склад Хмельницкая  2020      3    3487  11015.81    833.19
48     Склад Хмельницкая  2020      4    4161  12996.79    554.21
49     Склад Хмельницкая  2020      5    3770  11559.41    298.59
50     Склад Хмельницкая  2020      6    4255  13465.84    257.66
51     Склад Хмельницкая  2020      7    4516  14147.67    296.83
52     Склад Хмельницкая  2020      8    4548  14665.79    356.21
53     Склад Хмельницкая  2020      9     621   1865.40     21.60

In [21]:
# base.to_excel('G:/Мой диск/04 FS/2020 M 07/PL_sell_out_2020-08-03.xlsx',  index=False)
pivot.to_sql('sales_belarus_new_tb', engine, schema = 'dbo', if_exists='replace', chunksize=None, index=False)

In [22]:
base[(base.full_name == 'Склад Уманская') & (base.month == 7) ].sort_values(by='day', ascending=False)

,full_name,year,month,day,fullSum,DiscountSum
002b5a23-a6de-4c01-8423-286d2b0634aa,Склад Уманская,2020,7,31,2.5,0.0
a310c8b1-c244-45fd-bd30-78b60b36b721,Склад Уманская,2020,7,31,4.0,0.0
c4e18228-6669-4cc9-a80c-111287b1dab5,Склад Уманская,2020,7,31,2.5,0.0
be2db8a9-a5af-4247-a0dc-e160ae455822,Склад Уманская,2020,7,31,3.5,0.0
bdca8bc2-5d7e-4b8a-92d4-235feb1d24f5,Склад Уманская,2020,7,31,3.0,0.0
...,...,...,...,...,...,...
53b7fb8d-3f22-4873-a3ce-d96795ac9579,Склад Уманская,2020,7,31,5.0,0.0
528fee06-4d70-4bbc-915b-67add52be726,Склад Уманская,2020,7,31,5.0,0.0
4f57dc6f-a86c-468b-b675-7d4b7ad18766,Склад Уманская,2020,7,31,1.5,0.0
4ec713c9-62a7-4d6b-a64b-1262839837ef,Склад Уманская,2020,7,31,2.5,0.0
fe0e20e5-752d-43c9-bb20-198d57205da0,Склад Уманская,2020,7,31,3.5,0.0