In [1]:
# Загружаем бибилиотеки
import pandas as pd
from urllib.parse import quote_plus
from sqlalchemy import create_engine
from sqlalchemy.orm.session import sessionmaker
from dateutil.relativedelta import relativedelta

In [2]:
# Создаём подключение
conn_string = 'DRIVER={ODBC Driver 17 for SQL Server};SERVER=192.168.189.71;DATABASE=Dokuchaev;UID=sa;PWD=As12345^'
quoted = quote_plus(conn_string)
new_conn_string = 'mssql+pyodbc:///?odbc_connect={}'.format(quoted)
engine = create_engine(new_conn_string)

In [3]:
%%time
sales = pd.read_sql('SELECT * FROM dbo.sales_tb', engine)

Wall time: 3.12 s

In [4]:
sales.head(5)

,Store.Id,name,year,month,orders,sales,discount,type,code
0,dc590a6f-a302-4883-af69-8d612e273130,Лесная 43_СТ_МСК,2020,1,175,27060.0,360.0,STORE,1221-12
1,277334f1-0d3c-4818-a934-81641a83c2bf,Новый Арбат 3_СТ_МСК,2020,1,379,55440.0,960.0,STORE,2125
2,c27d8f86-50b9-49be-9abe-7a9b8ebc8fe3,Архив Метрополис 1_ТЦ_МСК,2018,8,638,86980.0,1260.0,STORE,12
3,bc5d3170-e307-468a-9437-0609f3bcf91d,Павелецкий_ТХ_МСК,2018,8,728,92000.0,1980.0,STORE,110
4,681f37cd-1166-4ead-a7b9-6c29fd4237b4,Свиблово_ТРЦ_МСК,2019,9,386,51000.0,1320.0,STORE,97

In [5]:
sales[['Store.Id','name','year', 'month', 'sales']]

,Store.Id,name,year,month,sales
0,dc590a6f-a302-4883-af69-8d612e273130,Лесная 43_СТ_МСК,2020,1,27060.0
1,277334f1-0d3c-4818-a934-81641a83c2bf,Новый Арбат 3_СТ_МСК,2020,1,55440.0
2,c27d8f86-50b9-49be-9abe-7a9b8ebc8fe3,Архив Метрополис 1_ТЦ_МСК,2018,8,86980.0
3,bc5d3170-e307-468a-9437-0609f3bcf91d,Павелецкий_ТХ_МСК,2018,8,92000.0
4,681f37cd-1166-4ead-a7b9-6c29fd4237b4,Свиблово_ТРЦ_МСК,2019,9,51000.0
...,...,...,...,...,...
93588,e17e4cfd-1022-4815-b534-e5a438a619cb,Невский пр 11_СТ_СПБ,2020,1,57660.0
93589,7ff0857b-c277-4c97-9afb-1575bf5310f1,(АРХИВ)Боткинская 3_ТЦ_СПБ,2018,12,18340.0
93590,48011046-f116-4986-92ac-968f6b2c9d7d,Покровка 14_СТ_МСК,2018,6,63260.0
93591,3888dd66-6e51-4e29-9a9b-136e7c4d265a,Пятницкая 31/2_СТ_МСК,2018,11,58840.0
93592,cbaf899b-c650-435f-997d-e206cf1942ba,Афимолл 1_ТЦ_МСК,2019,9,132560.0

In [6]:
sales = sales[['Store.Id', 'name','year', 'month', 'sales']].groupby(by=['Store.Id', 'name','year', 'month'], as_index=False).sum()

In [7]:
sales[['year', 'month']].drop_duplicates().sort_values(by = ['year','month'])

     year  month
64   2018      1
65   2018      2
66   2018      3
67   2018      4
68   2018      5
69   2018      6
70   2018      7
71   2018      8
72   2018      9
73   2018     10
74   2018     11
20   2018     12
21   2019      1
22   2019      2
23   2019      3
24   2019      4
25   2019      5
0    2019      6
1    2019      7
2    2019      8
3    2019      9
4    2019     10
5    2019     11
6    2019     12
7    2020      1
8    2020      2
9    2020      3
227  2020      4
61   2020      5
10   2020      6
11   2020      7

In [8]:
sales = sales[(sales.year <= 2019) | ((sales.year == 2020) & (sales.month <= 3))]

In [9]:
sales[['year', 'month']].drop_duplicates().sort_values(by = ['year','month'])

    year  month
64  2018      1
65  2018      2
66  2018      3
67  2018      4
68  2018      5
69  2018      6
70  2018      7
71  2018      8
72  2018      9
73  2018     10
74  2018     11
20  2018     12
21  2019      1
22  2019      2
23  2019      3
24  2019      4
25  2019      5
0   2019      6
1   2019      7
2   2019      8
3   2019      9
4   2019     10
5   2019     11
6   2019     12
7   2020      1
8   2020      2
9   2020      3

In [10]:
opened_1q_2018 = sales[(sales.year == 2018) & (sales.month <= 3)].name.unique()
print(opened_1q_2018, len(opened_1q_2018))

['Невский пр 81_СТ_СПБ' 'Кузнецкий Мост 12_СТ_МСК' 'Вегас Каширка_ТЦ_МСК'
 'Ривьера_ТЦ_МСК' 'ЦДМ_ТЦ_МСК' 'Архив Арбат' '(Архив)Кофейня Садовая 19'
 'Перловский_ТЦ_МСК' 'Архив Золотой Вавилон Ростокино' 'Архив Тверской'
 'Архив Багратионовская' 'Архив  Сокольники' 'Пятницкая 31/2_СТ_МСК'
 'Шереметьево_ТХ_МО' 'Тверская Застава пл 3_СТ_МСК' 'Покровка 14_СТ_МСК'
 'Архив Люсиновская' '(Архив)Золотой Вавилон Отрадное_ТЦ_МСК'
 'Архив Ленинградский' 'Советская 1Б_СТ_МО' 'Архив(01.09)Мега Химки_ТЦ_МО'
 'Архив Гагаринский_ТЦ_МСК' 'Одоевского 31_СТ_СПБ' 'Архив Водный'
 'Архив Сусальный Н 5_СТ_МСК' 'Авиапарк 3_ТЦ_МСК' 'Архив ТЦ Щука'
 'Архив мякинино' 'Красный Кит_ТЦ_МО' 'Солянка 2/6_СТ_МСК'
 '(Архив 28.06)Город Лефортово_ТЦ_МСК' 'Новомосковский_ТЦ_МО'
 'Охотный Ряд_1_ТЦ_МСК' 'Колумбус 1_ТЦ_МСК' 'Зеленопарк_ТЦ_МО'
 'Мозаика_ТЦ_МСК' 'Инвентарь Одоевского 31'
 'Архив(01.07)Калейдоскоп_ТЦ_МСК' 'Павелецкий_ТХ_МСК'
 'Архив Метрополис 1_ТЦ_МСК' 'Архив Бауманская' 'Ярославский_ТХ_МСК'
 '(Архив) Радуга_ТЦ_СПБ' 'Афимолл 1_ТЦ_МСК'
 'Архив(01.10)Мега Белая Дача_ТЦ_МО' 'Ленинградский 60_СТ_МСК'
 'АрхивТЦ Калужский ' 'Архив Планерная' 'Архив с 01/06 МДМ_ТЦ_МСК_'
 'Невский пр 11_СТ_СПБ' 'Архив Авеню_ТЦ_МСК'] 51

In [11]:
working_24m = sales[['name','sales']].groupby(by=['name'], as_index=False).count()
working_24m = list(working_24m[working_24m['sales'] >= 24].name)
print(working_24m, len(working_24m))

['Авиапарк 3_ТЦ_МСК', 'Афимолл 1_ТЦ_МСК', 'Вегас Каширка_ТЦ_МСК', 'Зеленопарк_ТЦ_МО', 'Колумбус 1_ТЦ_МСК', 'Красный Кит_ТЦ_МО', 'Ленинградский 60_СТ_МСК', 'Мозаика_ТЦ_МСК', 'Невский пр 11_СТ_СПБ', 'Невский пр 81_СТ_СПБ', 'Новомосковский_ТЦ_МО', 'Одоевского 31_СТ_СПБ', 'Охотный Ряд_1_ТЦ_МСК', 'Павелецкий_ТХ_МСК', 'Покровка 14_СТ_МСК', 'Пятницкая 31/2_СТ_МСК', 'Ривьера_ТЦ_МСК', 'Солянка 2/6_СТ_МСК', 'ЦДМ_ТЦ_МСК', 'Шереметьево_ТХ_МО', 'Штаер_ТЦ_МСК', 'Ярославский_ТХ_МСК'] 22

In [12]:
stores = sales[sales.name.isin(working_24m)]
stores = stores[['Store.Id', 'name']].drop_duplicates().reset_index(drop=True)
stores

                                Store.Id                     name
0   0685fda4-5433-48fd-922c-960435e3df6f     Невский пр 81_СТ_СПБ
1   08858cdb-937a-44fe-8e53-a085eb6a4300     Вегас Каширка_ТЦ_МСК
2   1410b4ba-56b1-4ba9-9d58-09287861309f           Ривьера_ТЦ_МСК
3   14920f96-a7cc-4cb4-a5ea-59cba11d6431               ЦДМ_ТЦ_МСК
4   3888dd66-6e51-4e29-9a9b-136e7c4d265a    Пятницкая 31/2_СТ_МСК
5   411abeab-5311-4798-ba63-dd01f00495e1        Шереметьево_ТХ_МО
6   48011046-f116-4986-92ac-968f6b2c9d7d       Покровка 14_СТ_МСК
7   6c950206-0097-48a0-8b8b-a9623ed533db     Одоевского 31_СТ_СПБ
8   780656c4-864e-494b-b1ff-b17426c8f0d3        Авиапарк 3_ТЦ_МСК
9   7deddc00-8a0f-402a-8cb1-6a82b0166da3        Красный Кит_ТЦ_МО
10  806af309-cf58-4f35-a656-39af5f48e1f0       Солянка 2/6_СТ_МСК
11  92ffae25-cdd3-4aa2-9919-168de9ca47a5     Новомосковский_ТЦ_МО
12  9c8f2425-8eb4-4263-9b54-26ce18b5512d     Охотный Ряд_1_ТЦ_МСК
13  a35e1500-1c00-4a28-a7b6-457c05ae8ea6             Штаер_ТЦ_МСК
14  a519e98b-df84-42cc-be72-8c76868f1c0b        Колумбус 1_ТЦ_МСК
15  b244d70b-870e-4e29-b8b6-776bb1d21f06         Зеленопарк_ТЦ_МО
16  b36a0979-0266-48c9-a33c-a514d5b490e1           Мозаика_ТЦ_МСК
17  bc5d3170-e307-468a-9437-0609f3bcf91d        Павелецкий_ТХ_МСК
18  c76339b4-4915-48e2-88bb-cdbd51dd6fdf       Ярославский_ТХ_МСК
19  cbaf899b-c650-435f-997d-e206cf1942ba         Афимолл 1_ТЦ_МСК
20  cf5d8a59-a161-4a8a-9ab1-b5417c54d64d  Ленинградский 60_СТ_МСК
21  e17e4cfd-1022-4815-b534-e5a438a619cb     Невский пр 11_СТ_СПБ

In [13]:
%%time
stores_iiko = pd.read_sql('SELECT * FROM dbo.stores', engine)
stores_iiko = stores_iiko[['open_date', 'format_location_eng', 'iiko_store_id']]
stores_iiko = stores_iiko[stores_iiko.iiko_store_id.isin(stores['Store.Id'])].sort_values(by='open_date')
stores_iiko

Wall time: 1.58 s

      open_date format_location_eng                         iiko_store_id
231  2017-02-14                  TC  9c8f2425-8eb4-4263-9b54-26ce18b5512d
274  2017-05-19                 Hub  bc5d3170-e307-468a-9437-0609f3bcf91d
179  2017-05-26                  TC  780656c4-864e-494b-b1ff-b17426c8f0d3
114  2017-06-29                 Hub  411abeab-5311-4798-ba63-dd01f00495e1
191  2017-07-22                  TC  7deddc00-8a0f-402a-8cb1-6a82b0166da3
16   2017-07-24                  TC  08858cdb-937a-44fe-8e53-a085eb6a4300
301  2017-08-09                  TC  cbaf899b-c650-435f-997d-e206cf1942ba
197  2017-08-17              Street  806af309-cf58-4f35-a656-39af5f48e1f0
10   2017-08-30              Street  0685fda4-5433-48fd-922c-960435e3df6f
347  2017-10-07              Street  e17e4cfd-1022-4815-b534-e5a438a619cb
244  2017-11-07                  TC  a519e98b-df84-42cc-be72-8c76868f1c0b
258  2017-11-07                  TC  b244d70b-870e-4e29-b8b6-776bb1d21f06
125  2017-11-22              Street  48011046-f116-4986-92ac-968f6b2c9d7d
106  2017-11-28              Street  3888dd66-6e51-4e29-9a9b-136e7c4d265a
37   2017-12-22                  TC  1410b4ba-56b1-4ba9-9d58-09287861309f
312  2018-02-05              Street  cf5d8a59-a161-4a8a-9ab1-b5417c54d64d
259  2018-03-08                  TC  b36a0979-0266-48c9-a33c-a514d5b490e1
163  2018-03-10              Street  6c950206-0097-48a0-8b8b-a9623ed533db
292  2018-03-20                 Hub  c76339b4-4915-48e2-88bb-cdbd51dd6fdf
218  2018-03-30                  TC  92ffae25-cdd3-4aa2-9919-168de9ca47a5
38   2018-03-31                  TC  14920f96-a7cc-4cb4-a5ea-59cba11d6431
241  2018-04-09                  TC  a35e1500-1c00-4a28-a7b6-457c05ae8ea6

In [14]:
stores = stores.merge(
    stores_iiko, left_on='Store.Id', right_on='iiko_store_id')
stores = stores[['name', 'open_date', 'format_location_eng']].sort_values(by='open_date')
stores.open_date = pd.to_datetime(stores.open_date, format='%Y-%m-%d')
stores['open_year'] = stores.open_date.dt.year
stores['open_month'] = stores.open_date.dt.month
stores

,name,open_date,format_location_eng,open_year,open_month
12,Охотный Ряд_1_ТЦ_МСК,2017-02-14,TC,2017,2
17,Павелецкий_ТХ_МСК,2017-05-19,Hub,2017,5
8,Авиапарк 3_ТЦ_МСК,2017-05-26,TC,2017,5
5,Шереметьево_ТХ_МО,2017-06-29,Hub,2017,6
9,Красный Кит_ТЦ_МО,2017-07-22,TC,2017,7
1,Вегас Каширка_ТЦ_МСК,2017-07-24,TC,2017,7
19,Афимолл 1_ТЦ_МСК,2017-08-09,TC,2017,8
10,Солянка 2/6_СТ_МСК,2017-08-17,Street,2017,8
0,Невский пр 81_СТ_СПБ,2017-08-30,Street,2017,8
21,Невский пр 11_СТ_СПБ,2017-10-07,Street,2017,10
14,Колумбус 1_ТЦ_МСК,2017-11-07,TC,2017,11
15,Зеленопарк_ТЦ_МО,2017-11-07,TC,2017,11
6,Покровка 14_СТ_МСК,2017-11-22,Street,2017,11
4,Пятницкая 31/2_СТ_МСК,2017-11-28,Street,2017,11
2,Ривьера_ТЦ_МСК,2017-12-22,TC,2017,12
20,Ленинградский 60_СТ_МСК,2018-02-05,Street,2018,2
16,Мозаика_ТЦ_МСК,2018-03-08,TC,2018,3
7,Одоевского 31_СТ_СПБ,2018-03-10,Street,2018,3
18,Ярославский_ТХ_МСК,2018-03-20,Hub,2018,3
11,Новомосковский_ТЦ_МО,2018-03-30,TC,2018,3
3,ЦДМ_ТЦ_МСК,2018-03-31,TC,2018,3
13,Штаер_ТЦ_МСК,2018-04-09,TC,2018,4

In [15]:
sales = sales.merge(stores, on='name')
sales

,Store.Id,name,year,month,sales,open_date,format_location_eng,open_year,open_month
0,0685fda4-5433-48fd-922c-960435e3df6f,Невский пр 81_СТ_СПБ,2018,1,2387700.000,2017-08-30,Street,2017,8
1,0685fda4-5433-48fd-922c-960435e3df6f,Невский пр 81_СТ_СПБ,2018,2,2186800.000,2017-08-30,Street,2017,8
2,0685fda4-5433-48fd-922c-960435e3df6f,Невский пр 81_СТ_СПБ,2018,3,2798780.000,2017-08-30,Street,2017,8
3,0685fda4-5433-48fd-922c-960435e3df6f,Невский пр 81_СТ_СПБ,2018,4,3270160.000,2017-08-30,Street,2017,8
4,0685fda4-5433-48fd-922c-960435e3df6f,Невский пр 81_СТ_СПБ,2018,5,3545160.000,2017-08-30,Street,2017,8
...,...,...,...,...,...,...,...,...,...
575,e17e4cfd-1022-4815-b534-e5a438a619cb,Невский пр 11_СТ_СПБ,2019,11,1858460.000,2017-10-07,Street,2017,10
576,e17e4cfd-1022-4815-b534-e5a438a619cb,Невский пр 11_СТ_СПБ,2019,12,1811740.000,2017-10-07,Street,2017,10
577,e17e4cfd-1022-4815-b534-e5a438a619cb,Невский пр 11_СТ_СПБ,2020,1,1844640.000,2017-10-07,Street,2017,10
578,e17e4cfd-1022-4815-b534-e5a438a619cb,Невский пр 11_СТ_СПБ,2020,2,1614329.988,2017-10-07,Street,2017,10
579,e17e4cfd-1022-4815-b534-e5a438a619cb,Невский пр 11_СТ_СПБ,2020,3,1328579.640,2017-10-07,Street,2017,10

In [ ]:
sales.il