In [1]:
"""

"""
import requests
import json
import pandas as pd
import pyodbc
from urllib.parse import quote_plus
from sqlalchemy import create_engine
from sqlalchemy.orm.session import sessionmaker

conn_string = 'DRIVER={ODBC Driver 17 for SQL Server};SERVER=192.168.189.71;DATABASE=Dokuchaev;UID=sa;PWD=As12345^'
quoted = quote_plus(conn_string)
new_conn_string = 'mssql+pyodbc:///?odbc_connect={}'.format(quoted)
engine = create_engine(new_conn_string)

In [2]:
stores = pd.read_sql('SELECT * FROM dwh_pl_iiko.stores_mapping', engine)
pay = pd.read_sql('SELECT * FROM dwh_pl_iiko.sales_order_pay', engine)
base = pd.read_sql('SELECT * FROM dwh_pl_iiko.sales_order_base', engine)

In [3]:
stores = stores[['iiko_store_id','full_name']]
stores.full_name = stores.full_name.apply(lambda x: x.split()[-1])

In [4]:
stores = stores.set_index('iiko_store_id')
stores.index.name = None
stores

                                          full_name
28275a32-00da-45fc-88d8-608954794067  Swietokrzyska

In [5]:
pay = pay[['UniqOrderId.Id','VAT.Sum', 'DiscountSum']]
pay = pay.set_index('UniqOrderId.Id')
pay.index.name = None
pay

                                      VAT.Sum  DiscountSum
90f6cac0-2f67-4453-911d-ac5bbb38b42e     1.68          0.0
97258e7f-8a27-4c0e-9a10-37ba0b4037cf     2.12          0.0
9592231d-fc1b-467f-8a1e-7f9f27e5c6a5     1.68          0.0
95dbdfe8-0126-4a84-aec8-fe09b2ae5f20     0.67          0.0
9734b5c2-af09-4ff9-9c0f-85678aa87118     4.11          0.0
...                                       ...          ...
18d609ac-a601-489f-9a31-eefb3684ccf3     1.31          0.0
19128ad2-d78d-46ad-af07-eed6a9932868     2.01          0.0
19e38c1a-9837-43bf-a96c-972ec994a9e1     1.68          0.0
1aec0f2e-a920-4303-bd1f-afc1d8f9193a     2.43          0.0
1b1b0cd7-2842-4c15-a425-991f0a6e7ea3     3.92          0.0

[2927 rows x 2 columns]

In [6]:
base

,chain_code,UniqOrderId.Id,OpenDate.Typed,OpenTime,CloseTime,OrderDeleted,OrderItems,fullSum,Storned,Store.Id,Department.Id
0,6,87e2e3d6-9740-4f27-a49f-a1fb3a75c570,2020-07-22,2020-07-22 20:08:47,2020-07-22 20:09:40.220,NOT_DELETED,3,12.0,FALSE,28275a32-00da-45fc-88d8-608954794067,e1f982d7-6e82-4acb-84f3-3f49c9c7993d
1,6,89d382fd-4de6-42fb-bade-11e31ae4438d,2020-07-23,2020-07-23 18:33:57,2020-07-23 18:34:33.508,NOT_DELETED,2,12.0,FALSE,28275a32-00da-45fc-88d8-608954794067,e1f982d7-6e82-4acb-84f3-3f49c9c7993d
2,6,8275f56f-a3d8-4c96-aeca-59435f005e30,2020-07-18,2020-07-18 17:22:59,2020-07-18 17:23:08.858,NOT_DELETED,1,9.0,FALSE,28275a32-00da-45fc-88d8-608954794067,e1f982d7-6e82-4acb-84f3-3f49c9c7993d
3,6,827bc96d-d521-469d-8137-91f41e6c3f85,2020-07-18,2020-07-18 13:27:42,2020-07-18 13:28:08.150,NOT_DELETED,2,10.0,FALSE,28275a32-00da-45fc-88d8-608954794067,e1f982d7-6e82-4acb-84f3-3f49c9c7993d
4,6,88eccb31-7e69-491f-99d8-8ccc332790d9,2020-07-30,2020-07-30 15:18:26,2020-07-30 15:18:43.445,NOT_DELETED,3,18.0,FALSE,28275a32-00da-45fc-88d8-608954794067,e1f982d7-6e82-4acb-84f3-3f49c9c7993d
...,...,...,...,...,...,...,...,...,...,...,...
2922,6,78724ec7-1a16-470c-9c76-89dc2cdd46ba,2020-07-17,2020-07-17 12:06:59,2020-07-17 12:07:35.278,NOT_DELETED,2,12.0,FALSE,28275a32-00da-45fc-88d8-608954794067,e1f982d7-6e82-4acb-84f3-3f49c9c7993d
2923,6,7c606b59-7f6e-4671-a362-4b1e64b45da6,2020-07-17,2020-07-17 11:05:36,2020-07-17 11:05:48.185,NOT_DELETED,1,9.0,FALSE,28275a32-00da-45fc-88d8-608954794067,e1f982d7-6e82-4acb-84f3-3f49c9c7993d
2924,6,7c6ee84b-2ccf-4be7-9661-fb87bc5e4fb1,2020-07-17,2020-07-17 15:30:07,2020-07-17 15:31:41.515,NOT_DELETED,3,16.0,FALSE,28275a32-00da-45fc-88d8-608954794067,e1f982d7-6e82-4acb-84f3-3f49c9c7993d
2925,6,7e8b842c-3e6a-48fa-8bd6-2acb2488e5db,2020-07-17,2020-07-17 18:41:31,2020-07-17 18:42:05.589,NOT_DELETED,3,18.0,FALSE,28275a32-00da-45fc-88d8-608954794067,e1f982d7-6e82-4acb-84f3-3f49c9c7993d
2926,6,7eb7c4cc-e9de-4c93-9aa0-0a5824b63d5e,2020-07-17,2020-07-17 07:46:34,2020-07-17 07:47:17.002,NOT_DELETED,3,19.0,FALSE,28275a32-00da-45fc-88d8-608954794067,e1f982d7-6e82-4acb-84f3-3f49c9c7993d

In [7]:
base = base[['UniqOrderId.Id', 'OpenDate.Typed', 'OrderDeleted', 'fullSum', 'Storned', 'Store.Id']]

In [8]:
base = base.loc[(base.Storned == 'FALSE') & (base.OrderDeleted == 'NOT_DELETED')]
base = base[['UniqOrderId.Id', 'OpenDate.Typed', 'fullSum', 'Store.Id']]
base = base.set_index('UniqOrderId.Id')
base.index.name = None
base

,OpenDate.Typed,fullSum,Store.Id
87e2e3d6-9740-4f27-a49f-a1fb3a75c570,2020-07-22,12.0,28275a32-00da-45fc-88d8-608954794067
89d382fd-4de6-42fb-bade-11e31ae4438d,2020-07-23,12.0,28275a32-00da-45fc-88d8-608954794067
8275f56f-a3d8-4c96-aeca-59435f005e30,2020-07-18,9.0,28275a32-00da-45fc-88d8-608954794067
827bc96d-d521-469d-8137-91f41e6c3f85,2020-07-18,10.0,28275a32-00da-45fc-88d8-608954794067
88eccb31-7e69-491f-99d8-8ccc332790d9,2020-07-30,18.0,28275a32-00da-45fc-88d8-608954794067
...,...,...,...
78724ec7-1a16-470c-9c76-89dc2cdd46ba,2020-07-17,12.0,28275a32-00da-45fc-88d8-608954794067
7c606b59-7f6e-4671-a362-4b1e64b45da6,2020-07-17,9.0,28275a32-00da-45fc-88d8-608954794067
7c6ee84b-2ccf-4be7-9661-fb87bc5e4fb1,2020-07-17,16.0,28275a32-00da-45fc-88d8-608954794067
7e8b842c-3e6a-48fa-8bd6-2acb2488e5db,2020-07-17,18.0,28275a32-00da-45fc-88d8-608954794067
7eb7c4cc-e9de-4c93-9aa0-0a5824b63d5e,2020-07-17,19.0,28275a32-00da-45fc-88d8-608954794067

In [9]:
base = base.join(pay).join(stores, on='Store.Id')

In [10]:
base = base.drop(columns=['Store.Id'])[['full_name', 'OpenDate.Typed', 'fullSum', 'VAT.Sum', 'DiscountSum']]

In [11]:
base

,full_name,OpenDate.Typed,fullSum,VAT.Sum,DiscountSum
87e2e3d6-9740-4f27-a49f-a1fb3a75c570,Swietokrzyska,2020-07-22,12.0,1.56,0.0
89d382fd-4de6-42fb-bade-11e31ae4438d,Swietokrzyska,2020-07-23,12.0,1.56,0.0
8275f56f-a3d8-4c96-aeca-59435f005e30,Swietokrzyska,2020-07-18,9.0,0.67,0.0
827bc96d-d521-469d-8137-91f41e6c3f85,Swietokrzyska,2020-07-18,10.0,1.73,0.0
88eccb31-7e69-491f-99d8-8ccc332790d9,Swietokrzyska,2020-07-30,18.0,2.68,0.0
...,...,...,...,...,...
78724ec7-1a16-470c-9c76-89dc2cdd46ba,Swietokrzyska,2020-07-17,12.0,2.24,0.0
7c606b59-7f6e-4671-a362-4b1e64b45da6,Swietokrzyska,2020-07-17,9.0,1.68,0.0
7c6ee84b-2ccf-4be7-9661-fb87bc5e4fb1,Swietokrzyska,2020-07-17,16.0,2.17,0.0
7e8b842c-3e6a-48fa-8bd6-2acb2488e5db,Swietokrzyska,2020-07-17,18.0,3.36,0.0
7eb7c4cc-e9de-4c93-9aa0-0a5824b63d5e,Swietokrzyska,2020-07-17,19.0,2.40,0.0

In [12]:
base['OpenDate.Typed'] = pd.to_datetime(base['OpenDate.Typed'], format='%Y-%m-%d')

In [13]:
base['year'] = base['OpenDate.Typed'].dt.year
base['month'] = base['OpenDate.Typed'].dt.month
base['day'] = base['OpenDate.Typed'].dt.day

In [14]:
base = base[['full_name', 'year', 'month', 'day', 'fullSum', 'VAT.Sum', 'DiscountSum']]
base

,full_name,year,month,day,fullSum,VAT.Sum,DiscountSum
87e2e3d6-9740-4f27-a49f-a1fb3a75c570,Swietokrzyska,2020,7,22,12.0,1.56,0.0
89d382fd-4de6-42fb-bade-11e31ae4438d,Swietokrzyska,2020,7,23,12.0,1.56,0.0
8275f56f-a3d8-4c96-aeca-59435f005e30,Swietokrzyska,2020,7,18,9.0,0.67,0.0
827bc96d-d521-469d-8137-91f41e6c3f85,Swietokrzyska,2020,7,18,10.0,1.73,0.0
88eccb31-7e69-491f-99d8-8ccc332790d9,Swietokrzyska,2020,7,30,18.0,2.68,0.0
...,...,...,...,...,...,...,...
78724ec7-1a16-470c-9c76-89dc2cdd46ba,Swietokrzyska,2020,7,17,12.0,2.24,0.0
7c606b59-7f6e-4671-a362-4b1e64b45da6,Swietokrzyska,2020,7,17,9.0,1.68,0.0
7c6ee84b-2ccf-4be7-9661-fb87bc5e4fb1,Swietokrzyska,2020,7,17,16.0,2.17,0.0
7e8b842c-3e6a-48fa-8bd6-2acb2488e5db,Swietokrzyska,2020,7,17,18.0,3.36,0.0
7eb7c4cc-e9de-4c93-9aa0-0a5824b63d5e,Swietokrzyska,2020,7,17,19.0,2.40,0.0

In [15]:
orders = base.groupby(by=['full_name', 'year', 'month', 'day'], as_index= False).count()[['fullSum']].rename(columns={'fullSum': 'orders'})
base = base.groupby(by=['full_name', 'year', 'month', 'day'], as_index= False).sum().join(orders)

In [16]:
base.columns = ['store', 'year', 'month', 'day', 'sell_out', 'VAT', 'discount', 'orders']
base.sell_out = base.sell_out - base.discount

In [17]:
base.to_excel('G:/Мой диск/04 FS/2020 M 07/PL_sell_out_2020-08-03.xlsx',  index=False)